.env
node_modules/
# Logs
logs
*.log
# Runtime data
pids
*.pid
# Dependency directories
jspm_packages/
# Optional npm cache directory
.npm
# Coverage directory used by tools like istanbul
coverage/
# IDE files
.idea/
.vscode/
